@media screen and (max-width: 480px){
    nav{
        padding: 20px;
    }
    .search{
        display: none;
    }
    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .navBottom{
        flex-wrap: wrap;
    }

    
    .sliderimg{
        width: 90%;
    }
    .slidertitle{
        right: 5%;
        font-size: 18px;
    }
    .sliderprice{
        top: 30%;
        left: 73%;
        font-size: 30px;
    }
    .buybtn{
        width: 80px;
        font-size: 12px;
        padding: 5px;
        top: 45%;
        left: 73%;
    }

    .features{
        margin: 0 10px;
    }
    .feature{
        padding: 0 2px;
    }
    .featureimg{
        width: 30px;
        height: 30px;
    }
    .featuretitle{
        font-size: 9px;
    }
    .featuredecp{
        text-align: center;
        font-size: 9px;
    }

    .product{
        height: 60vh;
    }
    .productimg{
        width: 55%;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .productdetail{
        position: absolute;
        top: 0;
        right: 10%;
    }
    .producttitle{
        font-size: 20px;
        margin-bottom: 0;
    }
    .productprice{
        font-size: 16px;
        margin: 20px 0;
    }
    .productdecp{
        font-size: 2.5vw;
    }
    .color{
        width: 8vw;
        height: 5vw;
    }
    .size{
        display: none;
    }
    .sizesm{
        display: block;
        margin: 10px 0;
    }
    .sizetitle{
        color: rgb(0, 0, 0);
    }
    .productbtn{
        width: 80px;
        font-size: 12px;
        padding: 5px;
    }

    .payment{
        position: absolute;
        top: 8%;
        font-size: 16px;
        width: 300px;
        height: 425px;
        padding: 2px 20px;
    }
    .paymenttitle{
        font-size: 20px;
        margin: 10px;
    }

    .gallery{
        padding: 20px;
        margin: 20px 0;
        justify-content: space-between;
    }
    .gallerytitle{
        font-size: 18px;
    }
    .galleryitem{
        margin: 0 5px;
        padding: 0;
    }
    .galleryimg{
        width: 100%;
    }

    .nsitem{
        height: 250px;
    }
    .nstitlesm{
        font-size: 16px;
    }
    .nstitle{
        font-size: 14px;
    }
    .nsbutton{
        width: 100px;
        height: 50px;
        font-size: 12px;
    }
    .nsimg{
        width: 100%;
    }

    #footer{
        flex-direction: column;
    }
    .footerleft ,.footerright{
        padding: 25px;
    }
    .finput{
        width: 70vw;
    }
    .fleftmail{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .footertitle{
        text-align: center;
    }
    .footerright{
        justify-content: center;
    }
    .ficons{
        display: flex;
        justify-content: center
    }
    .footerinfo{
        text-align: center;
    }
}